::-webkit-input-placeholder { color: #333333; opacity: 1 !important; }
          :-moz-placeholder { color: #333333;}
          ::-moz-placeholder {color: #333333;}
      :-ms-input-placeholder {color: #333333;}

textarea {
  resize: none;
  background-color:rgba(192,192,256,0.5);
}

#nameofcookie, #urldiv {
  display: none;
}

mark {
  background-color: #00FF00;
}

body {
  /* thanks to w3schools for this part*/
  background: blue; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#00FFFF, blue); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#00FFFF, blue); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#00FFFF, blue); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#00FFFF, blue); /* Standard syntax */

}

button {
  background-color:rgba(192,192,256,0.5);
  border-radius: 8px;
  border: 2px solid rgba(64,64,0,0.4);
}

input {
  background-color:rgba(192,192,256,0.5);
}

button:active {
  background-color:rgba(0,0,0,0.3);
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

select {
  background-color:rgba(192,192,256,0.5);
  border-radius: 8px;
  border: 2px solid rgba(64,64,0,0.4);
}

::selection {
  background: rgba(64,64,0,0.4);
  color: rgba(192,192,256,1);
}
::-moz-selection {
  background: rgba(64,64,0,0.4);
  color: rgba(192,192,256,1);
}

.maindiv {
  opacity: 50%;
    background-color:rgba(192,192,256,0.5);
    width:700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
    border-radius:25px;
    padding: 20px;
    color: #000000;
    font-family: 'Droid Sans', sans-serif;
  }
