#help {
  display: none;
  text-align: left;
  line-height: 2;
}

#nameofcookie, #urldiv {
  display: none;
}

mark {
  background-color: #00FF00;
}

.hover:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.hover:active {
  box-shadow: none;
}
