.credits {
  font-size: x-small;
}

mark {
  background-color: #00FF00;
}

#hint {
  opacity: 0;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
  font-weight: bold;
}

.right {
  text-align: right;
}
